services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    platform: linux/amd64
    networks:
      - appnet
    volumes:
      - ./:/var/www/html
      - ~/.ssh:/home/webuser/.ssh
    ports:
      - "8080:8080"
      - "5173:5173"
    container_name: app
networks:
  appnet:
    driver: bridge
